body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to top, turquoise 0%, #1a7e70 100%);
}

.App {
  background: rgba(174, 202, 200, 0.699);
  border: 1px solid rgba(15, 117, 87, 0.3);
  padding: 1rem 2rem;
}

form > div {
  margin-bottom: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

input {
  border: 1px solid rgba(93, 185, 135, 0.5);
  font-size: 1rem;
  padding: 4px;
}

button {
  background: #9fe9dfaa;
  padding: 4px;
  border: 1px solid rgba(8, 105, 92, 0.897);
  color: white;
  font-size: 1rem;
  width: 100%;
}

.Welcome {
  width: 100%;
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
}
